@model IEnumerable<Campeonato.Domain.Entities.Team>

@{
    ViewData["Title"] = "Times";
}

<h1>Times</h1>

<p>
    <a asp-action="Create">Criar novo time</a>
</p>
<table class="table table-hover">
    <caption>Lista de times</caption>
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeDeGols)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeDeGols)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureId)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Remove", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
